<article class="shroom-list">
  <header>
    <h1>Types of Mushrooms</h1>
    <section>
      <input type="text" ng-model="query" placeholder="Search" />
      <br />
      <input type="radio" ng-model="filter" value="poisonous" />Poisonous
      <br />
      <input type="radio" ng-model="filter" value="non-poisonous" />Non-poisonous
      <hr />
      <div ng-repeat="item in mushrooms">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
      <hr />
      </div>
    </section>
  </header>
</article>
