<!DOCTYPE html>
<html ng-app="MushroomApp">

<head>
  <meta charset="utf-8">
  <title>Mushroom Mania!</title>
</head>

<body >
  <h1>Mushroom Mania!</h1>
  <input ng-model="query" ng-model="myVar" placeholder="Search" />
  <br />
  <input type="radio" ng-model="myVar" value="poisonous" />Poisonous
  <br />
  <input type="radio" value="non-poisonous" />Non-poisonous
  <div ng-view>

    <!-- content will go here... maybe? -->

  </div>
  <script type="text/javascript" src="/lib/node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="/lib/node_modules/angular-route/angular-route.min.js"></script>

  <script src="app/app.js"></script>
  <script src="app/controllers/MushroomCtrl.js"></script>
  <script src="app/factories/MushroomFactory.js"></script>

</body>

</html>
